.menu a:nth-child(1):hover{
	color:red;
	font-size:20px;
	
}

.menu a:nth-child(2):visited{
	color:green;
	font-size:20px;
	
}

.menu a:nth-child(3):focus{
	color:blue;
	font-size:20px;
	
}

.menu a:nth-child(4):link{
	color:black;
	font-size:20px;
	
}