.tablo{
	 
	 font-family:arial,verdana,times;
	 font-size:14px;
	 color:white;
	 background-color:green;
	 
	 text-align:center;
	 vertical-align:center;
	 border-collapse:collapse;
	 
	 
 }
 
.tablo th, .tablo td{
	padding:8px 30px;
	border-width:2px;
	
}
.tablo th{
	background-color:black;
	color:white;
	
}